#header-title {
  color: $title-color;
  font: bold 2.5em $title-font-family;
  margin: 0;
}

#header-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  #header-subtitle {
    font-size: 1.4em;
    margin-bottom: 0.5rem;
  }

  .info {
    color: $grey-dark;
  }
}
