#prj .item-header {
  grid-template-columns: auto 1fr;
  align-items: baseline;

  .print-only {
    display: none;
    justify-self: end;
    font-style: italic;
  }

  @media print {
    .print-only {
      display: inline;
    }
  }
}
