#rec-content {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 1em;
}

.quote-author {
  justify-self: end;
  text-align: right;
  display: block;
}
