#footer {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > :not(:last-child) {
    margin-bottom: 0.25rem;
  }

  .gh-repo {
    display: flex;
    align-items: center;
    svg {
      height: 1em;
      width: 1em;
    }
  }

  @media print {
    display: none;
  }
}
