#main-grid {
  display: grid;
  background-color: white;
  border: 4rem solid white;
  border-top: 2.5em solid white; // set smaller top border to compensate for top bar
  grid-column-gap: 3.5em;
  grid-row-gap: 3.5em;
  grid-template-rows: auto 1fr;
  grid-template-columns: 63% 1fr;

  @media print {
    border-top: 4em solid white; // reset top border
  }
}
