nav {
  $nav-height: 45px;

  height: $nav-height;
  line-height: $nav-height;

  @media print {
    display: none;
    visibility: hidden;
  }

  .no-link {
    pointer-events: none;
  }

  i,
  li,
  a,
  [class^="mdi-"],
  [class*="mdi-"] {
    height: $nav-height;
    line-height: $nav-height;
  }

  .button-collapse i {
    height: $nav-height;
    line-height: $nav-height;
  }

  .dropdown-content > li {
    height: $nav-height;
    min-height: $nav-height;
    line-height: $nav-height;
    > a {
      font-size: $nav-height/3;
      height: $nav-height;
      line-height: $nav-height/3;
      color: $grey-dark;
      padding: $nav-height/3 $nav-height/3;
    }
  }

  .dropdown-button {
    min-width: 10.5em;
  }

  @media only screen and (min-width: 601px) {
    .nav-wrapper i,
    a.button-collapse,
    a.button-collapse i {
      height: $nav-height;
      line-height: $nav-height;
    }
  }
}
